#city-recommendations {
  background-color: $white;
  // left: $x-large * 9;
  position: absolute;
  width: 35%;
  z-index: 10;
}

.city-item {
  padding: $regular * 0.9;
  font-size: $medium * 0.9;
  border-bottom: 1px solid $dark-grey;
  border-bottom-color: rgba(127, 127, 127, 0.3);
}

.city-item:hover {
  cursor: pointer;
  font-weight: bold;
}

@media (min-width: $city-recommendation-breakpoint1) {
  #city-recommendations {
    left: $ultra-large * 10;
    width: 20%;
  }
}

@media (max-width: $city-recommendation-breakpoint2) {
  #city-recommendations {
    left: $x-large * 7;
    width: 30%;
  }
}

@media (min-width: $desktop-breakpoint) {
  #city-recommendations {
    left: $ultra-large * 6.2;
    width: 40%;
  }
}