#today-data {
  background: $white;
  display: flex;
  font-size: $medium;
  margin: $medium auto;
  padding: $medium;
  width: 60%;
}

#today-data-main * {
  margin: 0;
}

.weather-img {
  width: 30%;
  height: 30%;
  display: inline-block;
}

.weather-img-temp {
  display: flex;
}