html {
  height: 100%;
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  height: 100%;
}

.bg {
  background-image: url("../images/bg.jpg");
  height: 100%;
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
}

.container {
  margin-top: $large;
  padding: 0 $ultra-large;
  position: relative;
}


.w-10 {
  width: 10% !important;
}

.animate {
  opacity: 0;
  animation: image-change 2s linear 0.15s 1 forwards;
}

#error,
#loading {
  font-size: 5em;
  color: white;
  text-align: center;
  text-shadow: 1px 5px #222;
}

@keyframes image-change {
  0% {
    opacity: 0;
    /* transform: scale(1.2); */
  }

  50% {
    opacity: 0;
  }

  90% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
    /* transform: scale(1); */
  }
}