// All colors and sizes

// colors:
$dark-grey: #343a40;
$light-green: #28a745;
$white: #fff;

// sizes:
$desktop-breakpoint: 45rem;
$city-recommendation-breakpoint1: 80rem;
$city-recommendation-breakpoint2: 71rem;
$city-recommendation-breakpoint3: 78rem;
$regular: 1rem;
$medium: 1.6rem;
$large: 2rem;
$x-large: 2.5rem;
$ultra-large: 4.8rem;